<header class="jumbotron">
    <h1 class="text-center">Cadastro de Fotos</h1>
</header>
<main class="container">
        <div class="row" *ngIf="mensagem">
            <div class="col-sm-12">
                <mensagem tipo="success">{{mensagem}}</mensagem>
            </div>
        </div>
        <section class="row">
        <form [formGroup]="formCadastro" (ngSubmit)="salvar()" class="col-sm-6">
            <div class="form-group">
                <label>Título</label>
                <input
                    formControlName="titulo"
                    name="titulo"
                    class="form-control">
                <div *ngIf="!formCadastro.controls.titulo.valid">

                    <span *ngIf="formCadastro.controls.titulo.errors.required" 
                        class="form-control alert-danger">
                        Título obrigatório
                    </span>

                    <span *ngIf="formCadastro.controls.titulo.errors.minlength" 
                        class="form-control alert-danger">
                        Título deve ter no mínimo 3 caracteres
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label>URL</label>
                <input 
                    formControlName="caminho"
                    name="caminho"
                    class="form-control">
                <span *ngIf="formCadastro.controls.caminho.invalid" class="form-control alert-danger">
                        URL obrigatória
                </span>
            </div>
            <div class="form-group">
                <label>Descrição</label>
                <textarea 
                    formControlName="descricao"
                    name="descricao"
                    class="form-control">
                </textarea> 
            </div>
            <a routerLink="" class="btn btn-default">Voltar</a>
            <button 
                type="submit" 
                class="btn btn-primary"
                [disabled]="formCadastro.invalid">
                Salvar
            </button>
        </form>
        <aside class="col-sm-5">
            <h3 class="text-center">Preview</h3>
            <painel titulo="{{foto.titulo}}">
                <foto caminho="{{foto.caminho}}" titulo="{{foto.titulo}}">
                </foto>
            </painel>
        </aside>
    </section>
</main>